        *,

        .row {

            padding: 0px;

            margin: 0px;

        }

        

        body {

            background-image: url(img/back.png);

        }

        

        .container-fluid,

        .navbar,

        .navbar-header {

            margin: 0px;

            padding: 0px;

        }

        

        .top {

            background-color: black;

            height: 45px;

        }

        

        .topimg {

            height: 35px;

            width: 35px;

            margin-left: 1000px;

            margin-top: 8px;

            display: inline-block;

            background-image: url(img/tell.png);

            background-size: 35px, 35px;

            float: left;

            background-repeat: no-repeat;

        }

        

        .topz {

            color: #fff;

            font-size: 20px;

            display: inline-block;

            float: left;

            margin-left: 30px;

            margin-top: 10px;

        }

        

        .topzz {

            color: #fff;

            font-size: 15px;

            display: inline-block;

            float: left;

            margin-left: 60px;

            margin-top: 14px;

        }

        

        .topzz>a {

            color: white;

            text-decoration: none

        }

        

        .logo {

            margin-top: 20px;

            margin-left: 100px;

            margin-right: 100px;

            height: 70px;

            width: 150px;

            background-size: 150px, 70px;

            background-repeat: no-repeat;

            background-image: url(img/logo.png);

        }

        

        .navbar-toggle {

            margin-top: 25px;

        }

        

        .nav>li {

            margin-top: 15px;

            margin-left: 50px;

            font-size: 20px;

            border-bottom: solid 1px rgba(red, green, blue, 1);

        }

        

        .navbar-nav>li>a:hover {

            color: rgb(238, 96, 2);

            border-bottom: solid 5px rgb(238, 96, 2);

        }

        

        .bigimg {

            padding: 0px;

            height: 448px;

            overflow: hidden;

            background-image: url(img/banner.jpg);

            background-size: 100% 448px;

        }

        

        .bigimgz {

            margin-top: 50px;

            height: 62px;

            width: 620px;

            font-size: 48.1px;

            font-family: 宋体;

            font-weight: lighter;

            color: #e0e0e0;

        }

        

        .dh {

            padding: 0px;

            margin-top: 60px;

            border: solid 3px rgba(99, 59, 58, 0.5);

            height: 60px;

            border-radius: 10px;

        }

        

        .a,

        .position,

        .buttons {

            padding: 0px;

        }

        

        .position {

            height: 60px;

            display: inline-block;

            background-color: #d3d3d8;

            border-radius: 10px 0 0 10px;

            line-height: 60px;

            font-size: 18px;

            color: #535353;

        }

        

        .position>img {

            margin-left: 30px;

            margin-right: 20px;

        }

        

        .bimgin {

            height: 60px;

        }

        

        .buttons {

            border-width: 0px;

            border-radius: 0 5px 5px 0;

            height: 60px;

            background-color: tomato;

        }

        

        .car {

            margin-top: 25px;

        }

        

        .carrig {

            height: 365px;

            background-color: #14316d;

            color: thistle;

            font-size: 26px;

            text-align: center;

        }

        

        .carlef {

            height: 365px;

            background-repeat: no-repeat;

            background-size: auto 365px;

            background-image: url(img/Sbanner2.jpg);

        }

        

        .carword {

            width: 350px;

            height: 400px;

            float: right;

            margin-top: 20px;

        }

        

        .carf {

            font-size: 34px;

            color: #e0e0e0;

            font-family: 宋体;

            font-weight: lighter;

        }

        

        .carimg1 {

            margin-top: 50px;

        }

        

        .carimg2 {

            float: left;

            margin-top: 50px;

            margin-left: 10px;

        }

        

        .cars {

            font-size: 18px;

            color: #e0e0e0;

            font-family: 宋体;

            font-weight: lighter;

        }

        

        .carsword {

            padding: 0px;

            margin-top: 20px;

            float: left;

            text-align: left;

            margin-left: 10px;

            height: 170px;

        }

        .content3 div {

                padding: 0;

            }

            .content3 .viewpoint1 {

                height: 490px;

                margin-bottom: 3px;

                margin-right: 2px;

                position: relative;

            }

            .content3 .viewpoint2 {

                height: 490px;

                margin-right: 2px;

                position: relative;

            }

            .content3 .blackMask {

                height: 110px;

                width: 100%;

                background: black;

                position: absolute;

                bottom: 0;

                left: 0;

            }

            .content3 .blackMask p {

                font-size: 20px;

                line-height: 50px;

                color: #eee;

                margin-left: 40px;

            }

            .content3 .blackMask p:nth-child(2),

            .content3 .blackMask p:nth-child(3) {

                margin-left: 0px;

            }

            .content3 .blackMask p:nth-child(1),

            .content3 .blackMask p:nth-child(2),

            .content3 .blackMask p:nth-child(3) {

                display: inline;

            }

            .content3 .blackMask p span {

                font-size: 30px;

            }

            /* 右边 */

            .content33 .viewpoint3,

            .content33 .viewpoint4,

            .content33 .viewpoint5 {

                height: 274px;

                position: relative;

            }

            .content33 .viewpoint4 {

                height: 350px;

            }

            .content33 .viewpoint5 {

                height: 355px;

            }

            .content33 .blackMask {

                width: 100%;

                height: 90px;

                background: rgba(0, 0, 0, 0.5);

                position: absolute;

                bottom: 0;

                left: 0;

            }

            .content33 .viewpoint3 {

                margin-bottom: 2px;

                background: url(img/ho3.jpg);

            }

            .content33 .viewpoint4 {

                margin-bottom: 2px;

                background: url(img/hot4.jpg);

            }

            .content33 .viewpoint5 {

                background: url(img/hot5.jpg);

            }

            .content3 .blackMask p {

                line-height: 40px;

            }
            .content33 {

                display: none;

            }

            .content3 {

                text-align: center;

                background-color: white;

            }

            .content3 .viewpoint1 {

                height: 380px;

                background: url(img/hot1.jpg);

                margin-top: 20px;

                position: relative;

            }

            .content3 .viewpoint2 {

                height: 380px;

                background: url(img/hot2.jpg);

                margin-top: 20px;

                position: relative;

            }

            .content3 .blackMask {

                width: 100%;

                height: 110px;

                background: rgba(0, 0, 0, 0.8);

                position: absolute;

                bottom: 0;

                left: 0;

            }

            .content3 .blackMask p {

                font-size: 24px;

                font-weight: 300;

                text-align: left;

                margin-top: 15px;

                margin-left: 10px;

                color: #Eee;

            }

            .content3 .blackMask p:nth-child(2) {

                display: none;

            }

            .content3 .blackMask p:nth-child(4) {

                position: absolute;

                right: 20px;

                top: 25px;

            }

            .content3 .blackMask p span {

                font-size: 32px;

            }

            .content3 .btnMore {

                width: 180px;

                color: #aaa;

                font-size: 24px;

                margin: 30px auto;

                border: #aaa 1px solid;

                border-radius: 10px;

            }

        .carswordf {

            font-size: 30px;

            color: #1c5080;

        }

        

        .carswords {

            font-size: 16px;

            color: #b8b8b8;

        }

        

        .carbutton {

            border: solid 1px white;

            border-radius: 5px;

        }

        

        .rmleff {

            padding: 0px;

            height: 492px;

            margin-right: 4px;

            margin-bottom: 4px;

            position: relative;

            background-image: url(img/hot1.jpg);

            background-size: 100% 492px;

        }

        

        .rmlefs {

            padding: 0px;

            height: 492px;

            margin-right: 4px;

            margin-bottom: 4px;

            background-image: url(img/hot2.jpg);

            position: relative;

            background-size: 100% 492px;

        }

        

        .rmrigf {

            padding: 0px;

            height: 284px;

            margin-bottom: 2px;

            background-image: url(img/hot3.jpg);

            background-size: 100% 284px;

        }

        

        .rmlef {

            padding: 0px;

        }

        

        .rmrigs {

            padding: 0px;

            height: 350px;

            margin-bottom: 2px;

            background-image: url(img/hot4.jpg);

            background-size: 100% 350px;

        }

        

        .rmrigt {

            padding: 0px;

            height: 350px;

            margin-right: 2px;

            margin-bottom: 2px;

            background-image: url(img/hot5.jpg);

            background-size: 100% 350px;

        }

        

        .rmleffb {

            padding: 25px;

            height: 105px;

            background-color: rgba(0, 0, 0, 0.8);

            position: absolute;

            bottom: 0;

        }

        

        .rmrigfb {

            padding-top: 10px;

            height: 80px;

            background-color: rgba(0, 0, 0, 0.5);

            position: absolute;

            bottom: 0;

        }

        

        .rmone {

            color: #eee;

            font-size: 20px;

        }

        

        .rmtwo {

            line-height: 30px;

            color: #eee;

            font-size: 20px;

            float: left;

        }

        

        .rmthree {

            color: #eee;

            font-size: 20px;

            float: right;

            text-align: center;

        }

        

        .money {

            color: #eee;

            font-size: 30px;

        }

        

        .missionf {

            height: 290px;

            background-image: url(img/mission1.jpg);

            background-size: 100% 290px;

        }

        

        .missiont {

            margin-top: 5px;

            margin-bottom: 5px;

            height: 360px;

            background-image: url(img/mission2.jpg);

            background-size: 100% 360px;

        }

        /* 小屏幕 */

        

        @media screen and (max-width: 768px) {

            .top {

                display: none;

            }

            .bigimg {

                height: 365px;

            }

            .bigimgz {

                font-size: 40px;

            }

            .rmf,

            .rms,

            .bigimgs,

            .bigimgt {

                display: none;

            }

            .bigimgf {

                font-size: 28px;

                margin-top: 20px;

                color: #e0e0e0;

                font-family: 宋体;

                font-weight: lighter;

            }

            .position>img {

                margin-left: 15px;

                margin-right: 10px;

            }

            .carlef {

                display: none;

            }

            .carrig {

                margin: 0px;

                background-color: white;

                height: 190px;

            }

            .carrig>p {

                display: none;

            }

            .carimg1 {

                display: none;

            }

            .carbutton {

                margin-top: 70px;

                float: right;

                margin-right: 15px;

                background-color: whitesmoke;

                color: #666666;

                border-color: #666666;

            }

            .rmt {

                font-size: 30px;

                float: left;

                border-left: solid 3px rgb(238, 96, 2);

            }

            .rmlef {

                margin-top: 20px;

                border-top: solid 1px #666666;

            }

            .rmleff {

                margin-top: 15px;

            }

            .rmlefs {

                margin-top: 15px;

            }

            .rmrig,

            .rmone {

                display: none;

            }

            .rmss {

                font-size: 24px;

                position: absolute;

                bottom: 3px;

            }

            .miss {

                margin-top: 20px;

                padding-top: 20px;

                border-top: solid 1px #666666;

            }

            .missions {

                margin-top: 10px;

                padding: 10px;

            }

            .blu,

            .misstextf {

                display: none;

            }

            .misstexts {

                font-size: 20px;

            }

            .smisstextf {

                font-size: 30px;

                line-height: 90px;

                color: #000;

            }

            .sblu1 {

                font-size: 30px;

                line-height: 90px;

                color: #000;

            }

            .sblu2 {

                height: 180px;

                line-height: 180px;

                display: flex;

                border-bottom: solid 1px #666666;

            }

            .sblu21,

            .sblu31,

            .sblu41 {

                height: 180px;

                text-align: center;

            }

            .sblu22,

            .sblu32,

            .sblu42 {

                text-align: left;

                font-size: 22px;

                line-height: 30px;

                align-self: center;

            }

            .last {

                padding-top: 100px;

                background-color: black;

                height: 320px;

            }

            .lastb {

                display: none;

            }

            .laones {

                line-height: 40px;

                text-align: center;

                color: #fff;

                font-size: 22px;

            }

            .more {

                padding-right: 30px;

                margin-top: 20px;

                height: 50px;

                font-size: 28px;

                border: solid 1px #666666;

                background-color: white;

                color: #666666;

                border-radius: 10px;

            }

            .quick {

                margin-top: 15px;

                height: 50px;

                font-size: 25px;

                border: solid 1px #e8420a;

                background-color: #e8420a;

                color: #fff;

                border-radius: 10px;

            }

            .more>img {

                float: right;

                margin-top: 8px;

            }

        }

        /*大屏幕*/

        

        @media screen and (min-width: 768px) {

            .bigimgs {

                width: 320px;

                margin-top: 30px;

                color: #e0e0e0;

                padding-top: 10px;

                border-top: solid 1px #575659;

                color: #e0e0e0;

                font-size: 20px;

            }

            .bigimgt {

                width: 400px;

                margin-top: 10px;

                padding-bottom: 10px;

                border-bottom: solid 1px #575659;

                color: #e0e0e0;

                font-size: 20px;

            }

            .bigimgf,

            .carimg2,

            .carsword,

            .smisstextf {

                display: none;

            }

            .carbutton {

                margin-top: 50px;

                height: 50px;

                background-color: #14316d;

                border: solid 1px white;

                border-radius: 5px;

            }

            .rm {

                height: 140px;

                padding-top: 20px;

                line-height: 45px;

                text-align: center;

            }

            .rmf {

                font-size: 36px;

            }

            .rms {

                font-size: 18px;

            }

            .rmss,

            .rmt,

            .rmtwo,

            .rmthree {

                display: none;

            }

            .misstextf {

                margin-top: 40px;

                margin-bottom: 30px;

                font-size: 26px;

                color: snow;

            }

            .misstexts {

                font-size: 14px;

                line-height: 36px;

                color: snow;

            }

            .missions {

                height: 290px;

                background-color: rgba(27, 77, 123, 0.9);

            }

            .blu {

                padding-top: 40px;

                padding-left: 90px;

                height: 300px;

                background-color: rgba(27, 77, 123, 0.9);

            }

            .bluimg {

                margin-left: 20px;

                height: 190px;

                background-size: 170px;

                background-image: url(img/rorate.png);

                background-repeat: no-repeat;

            }

            .blutext {

                position: absolute;

                top: 105px;

                left: 82px;

                color: snow;

                font-size: 20px;

            }

            .blutexts {

                text-align: center;

                color: snow;

            }

            .bluimg>img {

                position: absolute;

                top: 35px;

                left: 90px;

            }

            .sblu {

                display: none;

            }

            .last {

                background-color: black;

                height: 520px;

            }

            .lastone,

            .lasttwo {

                height: 110px;

                padding-left: 53px;

            }

            .laone1,

            .laone2,

            .laone3,

            .latwo1 {

                height: 110px;

                text-align: center;

                color: #969696;

            }

            .laone1,

            .latwo1 {

                padding: 0px;

                line-height: 110px;

                font-size: 18px;

            }

            .laone2>img {

                position: absolute;

                top: 25%;

                left: 24%;

            }

            .laone2>p {

                padding-top: 60px;

            }

            .laone3>img {

                position: absolute;

                top: 25%;

                left: 19%;

            }

            .laone3>p {

                padding-top: 60px;

            }

            .latwo2 {

                padding-top: 40px;

                padding-left: 40px;

                padding-right: 40px;

                color: #969696;

                line-height: 30px;

                font-size: 14px;

            }

            .lathr1 {

                padding: 0px;

                line-height: 50px;

                font-size: 18px;

                height: 50px;

                text-align: center;

                color: #969696;

            }

            .lathr {

                height: 50px;

                padding-left: 53px;

            }

            .lathr2 {

                height: 50px;

                margin-top: 10px;

                padding-left: 40px;

                padding-right: 45px;

                color: #969696;

                line-height: 30px;

                font-size: 14px;

            }

            .lafive {

                height: 130px;

                margin-top: 70px;

                border-top: solid 1px #969696;

                font-size: 16px;

                text-align: center;

                color: #969696;

                line-height: 130px;

            }

            .laones,

            .more,

            .quick {

                display: none;

            }

        }